[2019-12-17 22:43] skanwal opened #1 "Function to annotate fusion calls from Arriba"
Hello,

Thanks for this useful resource.

I am trying to find ways to use annoFuse for our internal RNAseq samples.
We use [bcbio-RNAseq pipeline](https://bcbio-nextgen.readthedocs.io/en/latest/contents/pipelines.html#rna-seq) for the processing of samples in a **single sample** setting. Also, our focus is on the fusion calls from Arriba.

I was thinking of starting with `annotate_fusion_calls` fu

[2019-12-20 23:25] kgaonkar6 commented on #1
Hi Sehrish,

We did develop annoFuse to be used at cohort level filtering and prioritization . But if you can give more information about how you would like to use annoFuse I can help :)

You should be able to run the first 3 steps https://github.com/d3b-center/annoFuse/wiki of standardization, QC filtering and expression based filtering for single sample. Here's an example for a single sample run

[2019-12-24 02:05] skanwal commented on #1
Hello and thanks for the response @kgaonkar6.

For now, I am playing a bit with the tool to get a sense about the functionality and understand if it can be used to prioritise fusion calls from a single RNA sample.

I have a couple more questions:

- Wrt `fusion_filtering_QC` function, if we set `spanningFragCountFilter=10` - would it filter out fusions with spanningFragCountFilter<10? And same for

[2019-12-26 18:48] kgaonkar6 commented on #1
In order to standardize the fusion calls from different callers we had to rename a couple of columns from Arriba output, SpanningFragCount is equivalent to discordant_mates in Arriba and JunctionReadCount is equivalent to split reads in Arriba. (we add split_reads1 and split_reads2 because in Arriba split_read1 and split_reads2 provide information of reads anchoring in gene1 or gene2 , more inform

[2020-01-09 04:13] skanwal commented on #1
Hello,

As above you have suggested to look at https://github.com/FusionAnnotator/FusionAnnotator/tree/v0.2.0. The tool documentation is not clear around the input for `--genome_lib_dir` flag.

Do you've a recommended input to use for hg38? There are quite a few files for v38 on https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/.  I was wondering if there is any specific one I should use t

[2020-01-15 19:25] kgaonkar6 commented on #1
Hi,

We have used GRCh38_v27_CTAT_lib_Feb092018.plug-n-play.tar.gz for our analysis to annotate Arriba calls  seems to be the same file here https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/__genome_libs_StarFv1.3/

[2020-04-03 21:14] kgaonkar6 commented on #1
Hi @skanwal were you able to use the package to annotate your fusion calls?

[2020-04-05 02:21] skanwal commented on #1
Hello,

Thanks for checking and yes, I was able to annotate the fusion calls.
I'll close this issue.

Cheers.

[2020-04-05 02:21] #1 closed

[2020-04-24 03:15] alexjfortuna opened #2 "Unable to standardize starfusion calls"
Hi there, this looks to be an excellent tool, I am hoping I can get it to work!

This is the command I am trying:

standardizedSTARfusion<-fusion_standardization(fusion_calls = ST.STARFusion, caller = "STARfusion")

I do see that caller string options are STARfusion/arriba

#ERROR
Error in fusion_standardization(fusion_calls = ST.STARFusion, caller = "STARfusion") :
  STARfusion is not a supported

[2020-04-24 16:00] alexjfortuna commented on #2
solved with string "STARFUSION"

[2020-04-24 16:00] #2 closed

[2020-08-10 19:21] jharenza opened #4 "dependency error"
See below when trying to install via GitHub:
[code]

ERROR: dependency ‘EnsDb.Hsapiens.v86’ is not available for package ‘annoFuse’
* removing ‘/Library/Frameworks/R.framework/Versions/3.6/Resources/library/annoFuse’
Error: Failed to install 'annoFuse' from GitHub:
  (converted from warning) installation of package ‘/var/folders/zs/8g7y6mfs7lldb27t4w906hj1z51wzr/T//RtmpwBuHpZ/filefae15df1672f/anno

[2020-08-10 20:00] kgaonkar6 opened #5 "novel promoter swap from gene fusion"
Can we add some annotation saying that a fusion is likely to be a "promoter-swap" kind of event?

[2020-08-10 21:52] kgaonkar6 opened #6 "large files pfambioMart and exon"
Add function to only generate the pfambioMart and exon once when needed within the package.

[2020-08-11 20:17] jharenza opened #7 "plot link broken"
Plot link in the [wiki](https://github.com/d3b-center/annoFuse/wiki) (item 4) is broken.

[2020-08-11 20:17] jharenza opened #8 "cleanup DS_store and license files"
Delete DS_store and remove one of the license files
Rproj.user folder needs to be removed
Clean up doc and build vignettes from them

[2020-08-11 20:26] jharenza opened #9 "add compatibility with other fusion tools"
Suggestions (all may not be feasible) - edit where necessary @kgaonkar6
- [ ] deFuse
- [ ] FusionCatcher
- [ ] Jaffa
- [ ] SOAPFuse

[2020-08-12 08:16] federicomarini commented on #4
Hm, this is a little weird as that package is already correctly listed in the Imports.

Try maybe with

[code]

to force all deps to be installed, and not convert to error the warning that remotes/devtools might throw?

[2020-08-12 08:19] federicomarini commented on #8
It looks like correct to specify the LICENSE with the double file (one is just a one liner, the second comes in with the bulk of text) - If I recall correctly, this is also the proposed approach via `usethis`

I think also the .Rproj.user folder needs to be removed to have a cleanest root folder 😉

[2020-08-12 08:20] federicomarini commented on #8
(I can work on these already in the fork and throw in a PR)

[2020-08-12 08:21] federicomarini commented on #6
Side consideration: this can be maybe optimally handled via AnnotationHub?
(would still need to investigate further)

[2020-08-12 09:55] federicomarini commented on #8
Ideally, the content of `doc` could be an excellent basis to build up some more vignettes 😉

[2020-08-12 10:15] federicomarini opened #10 "Road to Bioc"
Here's a list of items that likely will need to be addressed if we want annoFuse included in Bioconductor

- [ ] expand the vignettes (e.g. nice ideas could come from the current doc folder)

- [ ] roxygen to fully document the package and precisely specifying `importFrom` commands

- [ ] examples to showcase the usage of functions

- [ ] a NEWS.md file would not hurt?

- [ ] specification of some

[2020-08-12 14:26] federicomarini commented on #10
A first draft of the news can be found in https://github.com/federicomarini/annoFuse/commit/c5c0fe468d503100a57485692c495c7bbb234167

[2020-08-12 15:52] kgaonkar6 commented on #10
Will github links work for output formats work? Like https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/fusion_filtering/results/pbta-fusion-putative-oncogenic.tsv

[2020-08-12 17:06] kgaonkar6 commented on #4
Installing it separately with `BiocManager::install(“EnsDb.Hsapiens.v86”)` and adding GITHUB_PAT to .Renviron file we made it work for @jharenza

I'm test installing on a R 3.6.0 docker image to understand/find a work around for the issue.  I tested the above commands but it also errors out similar to the above error. For some reason EnsDb.Hsapiens.v86 doesn't get installed with  install_github("d

[2020-08-12 19:25] federicomarini commented on #10
biocViews suggestions are in https://github.com/federicomarini/annoFuse/commit/9595fffc588d6979ae3b4a60afa3ed79fb72e315, see if you think some might be still missing

[2020-08-12 19:32] federicomarini commented on #10
You mean when you enter them when calling the app? Gotta check that, not sure it will

[2020-08-12 19:42] federicomarini commented on #4
Hm, I would suggest to start right away with an image where R-4.0.0 is up and running.
Heavily suggested: the Bioc Docker images - these would be perfect for having both a release and a devel environment (the latter is the one we should use, again if we are oriented towards Bioc submission). Still, both use R-4.0.0 in this release cycle, so this makes it easier ;)

EDIT
Links: https://www.biocondu

[2020-08-17 15:28] kgaonkar6 opened #12 "domain plots and recurrence plots for shiny_fuse"
# Description

General issue:
Updates for plots for use in shiny_fuse and app

Specifics:
Domain plots

- [x] add domain legend to the bottom ( internal to annoFuse )
- [x] add filtering inside the plot_breakpoint()
- [x] add Sample param to plot_breakpoint()
- [x] if non-coding genes in fusion add just exon gene structure and if intergenic add genomic in x axis
- [ ] if plotting breakpoints acros

[2020-08-17 15:37] kgaonkar6 opened #13 "source R script names to represent function calls"
# Description

General issue:
R score file names and functions don't match up

Specifics:
`plotRecurrentFusion` is in `plot_recurrent_fusion.R`
`plotRecurrentGenes` is in `plot_recurrent_genes.R`
`plotBreakpoints` is in 'plot_breakpoints.R`
`fusion_multifused` is in `fusionMultifused.R`
`annotate_fusion_calls` is in `annotate_fusion.R`
`expressionFilterFusion` is in `expression_filtering.R`

Style

[2020-08-17 15:43] kgaonkar6 opened #14 "Internal function to check for standardized columns for plots"
# Description
Internal check for files that are provided as input in shiny_fuse or plots and other functions in general just 1 to check all columns.

# Specifics
For domain plots basic columns are  "LeftBreakpoint", "RightBreakpoint", "FusionName", "Gene1A" and "Gene1B"
For recurrent plots and summary plot the basic columns are "LeftBreakpoint", "RightBreakpoint", "FusionName", "Gene1A" and "Gene1

[2020-08-17 15:44] kgaonkar6 opened #15 "opt in annoFuseSingleSample"
# Description

leftover testing opt_args in annoFuseSingleSample function needs to be removed

@kgaonkar6  will work on this

[2020-08-17 16:56] kgaonkar6 commented on #4
I ran it on docker pull bioconductor/bioconductor_docker:devel with the following R and bioconductor:
R version 4.0.2 Patched (2020-08-13 r79017)
Platform: x86_64-pc-linux-gnu (64-bit)
Bioconductor version 3.12 (BiocManager 1.30.10)

The issue persists
[code]

So the only solution is to download it separately:
[code]

and then install annoFuse
[code]
To-do @kgaonkar6 add to the Readme

[2020-08-17 18:19] federicomarini commented on #13
If you want I can just take care of this in the existing PR @kgaonkar6

[2020-08-17 18:35] federicomarini commented on #4
Hmm, this is odd.
Normally deps are handled correctly, but hey, better safe than sorry.

In the GH Actions these are picked up correctly, see e.g. https://github.com/federicomarini/annoFuse/runs/990566435?check_suite_focus=true in the `Install dependencies` section ->

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/7447478/90431289-12ff7000-e0c9-11ea-8a8d-9fa6658c190f

[2020-08-17 18:48] federicomarini commented on #13
Oh, while we are at it: shall we set for "one style", i.e. `camelCase` or `snake_case`? I'm slightly preferring the latter.

Only downside: we'd need to update also Fig. 1 where the schematics include the names of the function calls
Plus: well, we'd gain in consistency, and code looks tidier.

EDIT: `camelCase` is what we use in some column names of the outputs, so yes, probably a bonus point for

[2020-08-17 20:44] kgaonkar6 commented on #13
I agree snake_case would work best for functions.

If you can add to the existing PR that would be great, thanks! I can work on updating the Fig 1 for the respective changes.

[2020-08-17 20:54] federicomarini commented on #13
Sure, will do!

[2020-08-17 21:48] federicomarini commented on #13
Done in https://github.com/federicomarini/annoFuse/tree/func_naming

Please see the namespace file for an overview of the newer names, if it is fine I'll merge into master on my fork.
https://github.com/federicomarini/annoFuse/blob/func_naming/NAMESPACE

[2020-08-17 21:55] federicomarini commented on #8
cleanup of vignettes folder also done 😉

[2020-08-17 22:06] kgaonkar6 commented on #13
Thanks! The names look right to me in the branch and the namespace file.

[2020-08-17 23:12] federicomarini commented on #13
Okiedokie, merging in in the main PR then!

[2020-08-18 06:12] federicomarini opened #16 "Quick numeric summary returned after processing files"
Idea: to have a quick numeric summary returned after processing files

Rationale: often one might overlook what happened and "just takes" the output. Exposing a compact summary of what was retained/filtered out can help to be aware of parameter values.

Implementation: could be a combination of `message` calls, that e.g. can be printed out to console without messing around with the returned output

[2020-08-18 12:52] jharenza commented on #14
To tag onto this, I noticed you are using `Sample` in the results file, so when we go to merge with clinical, we will have to change it back to `Kids_First_Biospecimen_ID` or alternatively rename `Kids_First_Biospecimen_ID` to `Sample` in the clinical file. Is `Sample` a required column in the input? If so, probably leave as such. I suppose alternatively, you can create a variable asking the user

[2020-08-18 12:54] jharenza commented on #12
- [x] For intergenic fusions, can you still enable plotting of the breakpoint within the other gene?

[2020-08-18 14:08] kgaonkar6 commented on #14
hmm yeah good idea, right now in the standardization step I have "Sample" as hardcoded I can actually look into making it more flexible.

[2020-08-18 20:24] kgaonkar6 commented on #4
Closing since this seems to fix the issue if it comes up

[code]

[2020-08-18 20:24] #4 closed

[2020-08-18 20:31] kgaonkar6 commented on #13
Closing since @federicomarini fixed this in #11

[2020-08-18 20:39] federicomarini commented on #8
I think this one can be safely closed, checking in with @kgaonkar6 to be 100% safe!

[2020-08-19 07:52] federicomarini commented on #15
Looks like it is fixed in https://github.com/d3b-center/annoFuse/commit/70c58ed54d1b64174fd72560acc70535e72e16bc

[2020-08-19 07:54] federicomarini opened #17 "Examples to showcase the usage of functions"
Full set of examples for the functions exported

- [x] aggregate_fusion_calls
- [x] annoFuse_single_sample
- [x] annotate_fusion_calls
- [x] called_by_n_callers
- [x] expression_filter_fusion
- [x] fusion_driver
- [x] fusion_filtering_QC
- [x] fusion_multifused
- [x] fusion_standardization
- [x] get_Pfam_domain
- [x] groupcount_fusion_calls
- [x] plot_breakpoints
- [x] plot_recurrent_fusions
- [x]

[2020-08-19 12:30] federicomarini commented on #17
First update: many functions are either complete or partially there - I would need to enter some reasonable values for the examples and/or for the defaults.

Plus, well, have the files to be still standardized as input for the call to standardize the fusion 😉

-> working in branch `exemplary`

[2020-08-19 12:38] federicomarini commented on #14
Makes sense.
I did start working on such a function to check e.g. all columns are there in the annoFuse-utils.R in `exemplary`.
Feel free to expand it there - keeping in mind all the functions basically do check that everytime 😉

[2020-08-19 13:41] kgaonkar6 commented on #17
I missed this issue and in my recent PR I've added example for the new plot_breakpoint function and annoFuse_single_sample function

[2020-08-19 13:44] federicomarini commented on #17
This is no problem at all, I opened it just recently!
Incidentally, these functions were not done yet in their examples, so it will be perfect to integrate them together!
I'll probably try to first merge then your branch into `exemplary`, and then proceed in merging to `master`

[2020-08-19 15:12] kgaonkar6 commented on #17
Sounds good

[2020-08-19 17:53] kgaonkar6 commented on #8
Yes looks like it can be closed

[2020-08-20 16:52] kgaonkar6 commented on #14
Updating the request to make Sample columnname flexible with this idea from @federicomarini

if "Sample" is already a column in the input file , check OK.
If not, user needs to specify which column to be added as "Sample" and use that for all the funcs throughout the package/app

[2020-08-20 19:10] jharenza opened #19 "table summary errors"
Branches tested: `loading_progress` and `exemplary`

[code]

and

[code]

Perhaps also rename `TableSummary` to `Recurrent Fusions` and `TableExplorer` to `Fusion Explorer`.

@federicomarini

[2020-08-20 19:49] federicomarini commented on #19
I was taking `TableSummary` as it was the output of `plot_summary` -> maybe then `FusionSummary`?

`TableExplorer` -> `FusionExplorer`, ✅

Re: the three values, this might be gone in the devel branches. We had enforced the scale manually, but using only 3 colors. So this means for factors with 6 levels, that would not be good.

[2020-08-20 20:07] jharenza commented on #19
sure, `FusionSummary` sounds good!

[2020-08-20 20:10] jharenza opened #21 "breakpoint plots not showing up in dev branches"
Branch: `exemplary`

Fusion breakpoint plots not displaying.

[code]

[2020-08-20 20:16] federicomarini commented on #21
Could you please double check that the code for generating that is
[code]

Seeing `breakpoints_info` it made me think it is a leftover of the first implementation, before Krutika's elegant rewriting.

[2020-08-20 20:17] jharenza commented on #21
This works with the `annoFuse/inst/extdata/PutativeDriverAnnoFuse_test_v14.tsv` file.

[2020-08-20 20:17] #21 closed

[2020-08-20 20:18] jharenza commented on #19
We will need to join `annoFuse/inst/extdata/PutativeDriverAnnoFuse_test_v14.tsv` with clinical information for this to be meaningful.

[2020-08-20 20:40] federicomarini commented on #19
Re: color palette issues, should be done in https://github.com/d3b-center/annoFuse/commit/1f4e3b060af7f5c93284f3343778a6f60b2eb9de

[2020-08-20 21:02] jharenza opened #22 "filtering list for shiny app"
Be able to filter prior to plotting:

- Fusion_Type
- caller.count
- SpanningFragCount
- Confidence
- Caller

[2020-08-21 00:27] jharenza opened #23 "additional column features for FusionExplorer"
Few suggestions:
- [ ] Freeze header row and create scroll bar within table instead of on entire app page
- [ ] Enable the user to select only columns of interest for viewing / remove columns that are bulking up the table

[2020-08-21 00:29] jharenza opened #24 "download table not working"
When I try to download the table, I get an RStudio popup but no table being saved.

Also, I noticed that when I try to copy to clipboard after filtering, say, for `in-frame` `fusion_type`, it only copies the visible rows (25) instead of the true selection (1,613) of 4,462. In addition to this, when pasting, the output does not paste properly because of blank cells. Maybe we remove `copy` altogethe

[2020-08-21 00:56] jharenza opened #25 "add text for "about" info in shiny app"
Hi @federicomarini - this is a quick writeup of some of the things we can add to the text boxes.

I think we can have 2 sections in `About`, then `News`, in a separate tab, and `Contact` in another tab, if possible.

## About FusionExplorer
FusionExplorer is an interactive way to explore the putative oncogenic fusion results from annoFuse.
**Required input:** `PutativeOncogenicFusion.tsv`
**Featur

[2020-08-21 08:05] federicomarini commented on #23
1. Could be possible with FixedHeader and a clever setting for scrollX.
2. Ideally a filter on the sidebar, with a few columns preselected, and the possibility to re-add all the ones that are in the file?

[2020-08-21 08:06] federicomarini commented on #25
Looks good as a start, thanks a lot!
I'll try to assign each portion to the dedicated ui anchoring element.

[2020-08-21 08:09] federicomarini commented on #22
Re-thinking on my comment of yesterday: it is probably easier (and at all feasible) if the filtering is only for the tab where we do recurrent_ and summary plots.
Eyeballing: 3 are categorical, and 2 are numeric - would the filter make sense to have with ">="?

Plus, another thought out loud: guess you want all the filters to be potentially active simultaneously, and not just one at a time?

[2020-08-21 15:50] jharenza commented on #23
Sounds great!

[2020-08-22 20:44] federicomarini commented on #23
Both looks like got addressed in https://github.com/d3b-center/annoFuse/commit/e3dd64ba2cf3c202a9bed5799251cc20fd0a3bc6

Currently selecting the first 10 columns, but it can be changed to more informative ones, in case you can propose a minimal set of "must-be-shown" ones ;)

[2020-08-22 20:47] federicomarini commented on #24
This issue is somewhat weird.
Not showing up when using the DT in a normal interactive session, but it does when in shiny.

Workaround possibly shown in https://github.com/d3b-center/annoFuse/commit/e3dd64ba2cf3c202a9bed5799251cc20fd0a3bc6, where the paging functionality is disabled - but using a fixed amount of height prevents from having km (or miles)-long tables!

Could you please try it outsid

[2020-08-22 20:54] federicomarini commented on #22
Here's a PoC which seems to work in https://github.com/d3b-center/annoFuse/commit/83041ca443471c31ecdfe4ce58bd087cc4d8fdf9 😃

If no fusion calls are left: gentle fail to display that all fusions are excluded.

I have used there the categorical variables, that get autopopulated according to their content.
Possible thought: move the input/filter widgets in the specific tab panel?

[2020-08-22 21:26] federicomarini commented on #22
On the branch https://github.com/d3b-center/annoFuse/tree/filtered_plots, there are also now the filters for the numeric columns 😉

Looks like it is ready to merge into `exemplary`, so that this piece of functionality is also included with all the rest!
@kgaonkar6 & @jharenza - feel free to drop your impressions!

[2020-08-24 14:25] federicomarini commented on #25
Can be done. I was thinking of having all in one, but in the end we can do what we want (more 1st level tabs, more sub-tabs, just one with md sections...)

[2020-08-24 20:17] jharenza commented on #24
Download in browser works, but also only downloading the "visible" table (25 rows) and not the entire filtered table. Can this be fixed?

Copying from browser still broken (does not tab-separate). Please remove this button.

[2020-08-24 20:28] federicomarini commented on #24
Works fine for me in the current `exemplary` branch - where all rows are actually shown.
In the code there should be a line with `paging = FALSE`.

Copying from browser seems to work for me, at least so it seems:

In RStudio:

<img width="709" alt="image" src="https://user-images.githubusercontent.com/7447478/91092910-faf39780-e658-11ea-8eb6-44766fb99d78.png">

-> it looks like the double space is

[2020-08-24 20:50] jharenza commented on #22
Sounds like that could work

[2020-08-24 21:04] jharenza commented on #22
`filter column fusion type` should display the categorical values - these should actually be 3 choices, but I only see two numeric choices:
1. in-frame
2. frameshift
3. other

`filter column caller` and `filter column confidence` should also display categorical values

[2020-08-24 21:05] jharenza commented on #22
BUG: there should be a way to not filter, just plot - seems if you don't fill in all of the filters, then you get no plot.

[2020-08-24 21:07] #19 closed

[2020-08-24 23:41] jharenza commented on #24
Ahh, I was copying to excel, as I imagine most GUI users will be doing it that way, and not familiar with text editors. Actually, I was having some problems with some of the functions not working because I wasn't restarting RStudio - let me check this again just to be sure.

[2020-08-24 23:46] jharenza commented on #24
Yes, still an error with copying to excel:
<img width="657" alt="Screen Shot 2020-08-24 at 7 46 44 PM" src="https://user-images.githubusercontent.com/207034/91107158-93cae880-e642-11ea-9af5-3a1ec53ac05b.png">

[2020-08-25 00:51] jharenza commented on #22
@kgaonkar6 - thinking about `SpanningFragCount`.  Can you create a new column for the `SpanningFrag - JunctionRead` since this is what we filter on?

@federicomarini can you add `JunctionReadCount` and `SpanningFrag - JunctionRead` once @kgaonkar6 adds that column? Thanks!

[2020-08-25 00:51] jharenza commented on #22
fixed - this was due to older R versions

[2020-08-25 01:06] jharenza opened #29 "minor column name fixes"
Minor column name suggestion to standardize. Eg:
`caller.count` is the only column name with a period in it
Some columns have no underscore between words, and some do

[2020-08-25 01:06] jharenza opened #30 "Add templates for issues and PRs"
Add templates for issues and PRs - model after [OpenPBTA analysis](https://github.com/AlexsLemonade/OpenPBTA-analysis)?

[2020-08-25 01:10] jharenza commented on #30
We can work on this after we get the app tidied up.

[2020-08-25 06:51] federicomarini commented on #24
Interesting, these look like are rows where there's an NA?

<img width="865" alt="image" src="https://user-images.githubusercontent.com/7447478/91139084-87c94000-e6af-11ea-913c-9d22a4c52140.png">

But the NA looks like it is in the raw text file (PutativeOncogenicFusion.tsv).

I'd say for Excel users should be fine with the "download to" option.

Should I just remove the "Copy" button? I'd argue t

[2020-08-25 06:52] federicomarini commented on #24
(good news is indeed that the Download to Excel works as it should!)

[2020-08-25 07:03] federicomarini commented on #30
+1 for this.
Side effect, I've just learned a very nice structure for that 😃

[2020-08-25 07:05] federicomarini commented on #22
Sure! @kgaonkar6 just ping me when it is in e.g. the files we use in the examples, and in the checking function

[2020-08-25 16:50] federicomarini commented on #22
This one is addressed in https://github.com/d3b-center/annoFuse/pull/28 - leaving it open as reminder for the `SpanningFragCount`/`SpanningFrag-JunctionRead` idea from the comments above.

[2020-08-25 17:35] jharenza commented on #24
Yes, they are NAs that don't get captured in excel with copy. I agree it is useful for text editors for us, so what about this - how about you keep it in the package, but remove from stand-alone web server?

[2020-08-25 18:27] jharenza commented on #22
ok, scrapping this because it is more for filtering upstream and don't think it will be useful to the user

[2020-08-25 18:27] #22 closed

[2020-08-25 18:28] jharenza opened #32 "update default columns to display in shinyFuse"
Let's use these:
[code]

[2020-08-25 18:38] jharenza commented on #23
added some default columns to display in #32

[2020-08-25 18:38] #23 closed

[2020-08-25 20:14] federicomarini commented on #32
Shall we maybe also add at least `Gene1A` and `Gene1B`?
These trigger the whole side content right of the table.

[2020-08-25 20:43] federicomarini commented on #24
I'd be rather blunt here and remove it - unless I find a way to auto-detect whether it runs on a server or local.
Are we really thinking of copy-pasting (to the simple clipboard) so often? Export to excel to re-read in R would be not that far away in terms of operations needed...

[2020-08-25 21:01] jharenza commented on #24
Ok, just remove then.

[2020-08-25 21:12] federicomarini commented on #32
Updated in https://github.com/d3b-center/annoFuse/commit/20f2e4b15b2ed6aa2a80450bc5a4c42946201d01, to enable the right hand side content to be ready to use

[2020-08-25 21:12] federicomarini commented on #24
Will be solved once https://github.com/d3b-center/annoFuse/pull/33 is in 🍷

[2020-08-25 21:31] federicomarini commented on #24
Closing via #33

[2020-08-25 21:31] #24 closed

[2020-08-25 22:22] federicomarini commented on #25
A first full round of the tour is present in https://github.com/d3b-center/annoFuse/tree/takeatour, feel free to enjoy the guided tour!

[2020-08-25 22:25] #32 closed

[2020-08-25 23:34] jharenza opened #37 "breakpoint plots - some error out"
Branch: `takeatour`

Some rows error out and default back to plotting multiple breakpoints. For example: sample `BS_17WYVEEC` `KIAA1549--BRAF` fusion gives error:

[code]

and plot:

[annofuse_bpboth.pdf](https://github.com/d3b-center/annoFuse/files/5126774/annofuse_bpboth.pdf)

Related: the plot render here is smushed. @kgaonkar6

[2020-08-26 07:17] federicomarini commented on #37
Can you try to see if you get the breakpoint plot for that exact fusion?
My suspicion is that the error comes from the plotting function itself - i.e. I had some similar errors when the fusion name contained non-conventional names (that probably have then no entries in the domainDataFrame?)

[2020-08-26 07:42] federicomarini commented on #37
Using the branch `exemplary`, where `takeatour` now is in:

- I could not reproduce this in shiny -> plot is generated as expected
- I tried also to use "offline" just plot_breakpoints, and that also seems to work

Can you try from a fresh session maybe?
Thanks!

[2020-08-26 14:27] jharenza commented on #37
New session in exemplary branch, still getting those old plots with `BS_17WYVEEC`. @kgaonkar6 can you test?

[2020-08-26 15:21] kgaonkar6 commented on #37
Works fine for me as well
<img width="1433" alt="Screen Shot 2020-08-26 at 11 20 44 AM" src="https://user-images.githubusercontent.com/34580719/91322905-43f93800-e78e-11ea-94e1-9df0acebecdc.png">

[2020-08-26 15:24] kgaonkar6 commented on #37
@federicomarini can we add the Sample selection feature to the plots now that the plot_breakpoints has that as the input paramter?
https://github.com/d3b-center/annoFuse/blob/1940612e242902c11b726bab61ee2cec8d87b131/R/plot_breakpoints.R#L39

[2020-08-26 15:45] federicomarini commented on #37
I would envision two possible behaviors (at least in shiny):
- checkbox off, only the line is selected -> all plotted, as it is now
- checkbox on -> line is selected anyway, and plots the ones specific to that sampleID
If I recall correctly, your current implementation does exactly that?

[2020-08-26 15:48] kgaonkar6 commented on #37
Right if sample_id == NULL then plot all in the given input if sample_id != NULL then plot for that specific sample_id only

[2020-08-26 16:06] federicomarini commented on #37
Okiedokie.

An example of that is here:
<img width="1643" alt="image" src="https://user-images.githubusercontent.com/7447478/91328055-a2daa380-e7c6-11ea-8729-db87d2988164.png">

You can test it out in `samplespecific_bpplots`.

The checkbox starts ticked, and gets re-ticked upon selection of a new row in the table (the element is re-rendered every new row is picked).
Would that work for you?

[2020-08-26 16:16] federicomarini commented on #25
`takeatour` is merged now, so it is safe to close this one 😉

[2020-08-26 18:51] jharenza commented on #37
@federicomarini - awesome update! I like it!

[2020-08-26 19:14] federicomarini commented on #37
Trust me, I just put the widget in the UI, it happens seamlessly because of the nice code re-design from @kgaonkar6!

[2020-08-27 00:54] #37 closed

[2020-08-27 00:55] jharenza opened #39 "update breakpoint plots"
- Add `by row` functionality
- Make plots landscape for printing
- Make plot of both right/left larger for better export.

[2020-08-27 15:52] kgaonkar6 commented on #39
I'll work on Add by row functionality to the plot_breakpoint function.

@federicomarini  would you be able to take care of the following?
- Make plots landscape for printing
- Make plot of both right/left larger for better export.

Here the pdf that gets downloaded is squished so maybe a longer width can be used to make it more of a landscape view?
[annofuse_bpboth.pdf](https://github.com/d3b-cent

[2020-08-27 16:22] kgaonkar6 commented on #12
Sample selection has replaced this for now
- if plotting breakpoints across Samples then need to have interactive pop up of Sample name when the user hovers over the line (to-do for later)

Other points from this issue have been completed. I think we can close this to open 1 if this hover feature is prioritized later

[2020-08-27 16:22] #12 closed

[2020-08-27 16:32] federicomarini commented on #39
I'll check if it is possible to have the width encoded in clever(er) way to not have all packed into that!

[2020-08-27 18:17] jharenza opened #40 "possibly make spanning difference an option"
Depending on results of comparison between TCGA and PBTA, and potentially another longread dataset with high confidence fusion calls, we can make this an option with default filtering turned on (could make this by read length or not - need to inspect fusion calls in PBTA for false +).

- [ ] @kgaonkar6 Add SpanningDelta to standardFusioncalls

[2020-08-28 01:07] jharenza opened #42 "add junctionreadcount to plot filter"
For some reason, this got removed

[2020-08-28 08:52] federicomarini commented on #40
From what I have seen, the filtering mechanism works nice, so it could be an additional field to work on if it is provided.

[2020-08-28 09:02] federicomarini commented on #42
I think I did not insert it in the original list of filter to have, but it is now done in `extra_filter` here: https://github.com/d3b-center/annoFuse/commit/83dddbffc47319ce1b04f50a644e1155b0f1f3a1

mini-PR incoming for that 😉

[2020-08-28 09:45] federicomarini commented on #39
Done in `per_bk_plots`, as in https://github.com/d3b-center/annoFuse/commit/9857f8e7736547f17b1925e4346cb7aff862630d and subsequent commits
-> they also fixed the logic for the double plot of breakpoints

[2020-08-28 19:08] kgaonkar6 opened #44 "Example data for shiny_fuse"
I've added v16 version of PutativeDriverAnnoFuse files here https://github.com/d3b-center/annoFuse/tree/add_v16_files/inst/extdata

This file needs to be filtered :
Filter clinical columns to only `integrated_diagnosis` and `broad_histology`
Add BreakpointLocation column with values "Genic","Intergenic" and "Intragenic"

And renamed to just PutativeDriverAnnoFuse.tsv to be used in all examples and

[2020-08-29 20:32] federicomarini commented on #42
closed after https://github.com/d3b-center/annoFuse/pull/43

[2020-08-29 20:32] #42 closed

[2020-08-29 20:33] federicomarini commented on #39
Can be closed after https://github.com/d3b-center/annoFuse/pull/41

[2020-08-29 20:33] #39 closed

[2020-08-31 09:32] federicomarini commented on #44
I can work on the examples for this branch

EDIT: oh wait, I see it is all done already, great!

[2020-08-31 16:48] kgaonkar6 commented on #44
yeah to test if the v16 file / example starfusion,arriba and rsem files work with each function I've added those examples

So it's now a duplicate to the issue #17 let me know if we can close that and add the checbox for each function here. Thanks!

[2020-08-31 16:50] kgaonkar6 commented on #16
Good idea! Do you have any suggestions as to how to go about doing this efficiently?

[2020-08-31 16:51] #15 closed

[2020-08-31 16:55] federicomarini commented on #16
I'll dig a little into the code of the specific function and try to give some pointers.

Otherwise, to elaborate a little more on the idea:
- dimensions of what was provided as input -> dimensions of what is output
- what happens to this input file, also with simple `message` calls
- maybe some short overview statistics on how many functions got assigned to this or this other category

[2020-08-31 17:40] federicomarini commented on #44
We can keep using #17 to track what still is left to be done.
I'll work on the reflowing of the lines to make R CMD check happy (too wide lines would not be rendered nicely)

[2020-08-31 19:31] kgaonkar6 commented on #16
Thanks for looking into it!

[2020-08-31 19:41] federicomarini commented on #13
To be done yet -
report_fuse and shiny_fuse will become reportFuse and shinyFuse, in analogy with the package name

[2020-08-31 21:16] federicomarini commented on #44
closing after merging in https://github.com/d3b-center/annoFuse/tree/add_v16_files

[2020-08-31 21:16] #44 closed

[2020-08-31 21:17] kgaonkar6 opened #47 "filter dropdown for BreakpointLocation"
## Description

@federicomarini can we add BreakpointLocation as a filter?

Basically by doing the following filters using the demo file we will be able to reproduce the figure in the MS.

sfc <- as.data.frame(sfc[ which(sfc$Fusion_Type == "in-frame" & sfc$BreakpointLocation == "Genic"),])
before runnning
plot_recurrent_genes(sfc, groupby = "broad_histology", countID = "Kids_First_Participant_ID")

[2020-08-31 21:36] federicomarini commented on #13
Done once #48 is merged in!

[2020-09-01 17:20] kgaonkar6 opened #50 "add support for hg19"
I found pcawg fusion dataset (hg19)
[standardFusioncalls_pcawg.txt](https://github.com/d3b-center/annoFuse/files/5157815/standardFusioncalls_pcawg.txt)
https://dcc.icgc.org/releases/PCAWG/transcriptome/fusion

Just wanted to add here that the hg19 support is mostly important because published PCAWG/DKFZ workflows are hg19 based.

Note: It's already filtered I didn't find raw calls
This resulted in

[2020-09-01 19:00] federicomarini commented on #50
Given that the exons object is the largest one in the package, we'd have to pay extra care in this case...
Maybe something for longer term where we maybe achieve the creation of the exons object either on the fly or in a more lightweight approach?

[2020-09-01 19:11] jharenza commented on #47
sure!

[2020-09-01 19:12] jharenza commented on #29
done with #46

[2020-09-01 19:12] #29 closed

[2020-09-01 19:13] federicomarini commented on #47
Will be handled and solved in #49 😉

[2020-09-01 19:13] #8 closed

[2020-09-01 19:15] #47 closed

[2020-09-01 19:25] #13 closed

[2020-09-01 19:37] jharenza commented on #25
I think we want to remove `The purpose of this application is…` from the top of the About tab.

Also noticing now we have some additional buttons, so maybe we should explain those above?

[2020-09-01 19:41] jharenza opened #51 "update shiny server url name"
from annoFuse to shinyFuse

[2020-09-01 19:42] jharenza commented on #40
I think we can scrap this, as this filtering would be pre-shinyFuse.

[2020-09-01 19:49] federicomarini commented on #51
Should be done now, app is available now at http://shiny.imbei.uni-mainz.de:3838/shinyFuse/

[2020-09-01 19:49] #51 closed

[2020-09-01 19:52] federicomarini commented on #25
On it.

I'll see what is missing from the older tour and fill in where needed

[2020-09-01 21:14] federicomarini commented on #25
Done in #52!

[2020-09-01 21:14] #25 closed

[2020-09-02 16:45] kgaonkar6 commented on #14
@federicomarini  to check if the input fusion calls (STARFusion and arriba) columns are correctly formatted would it be good to have a generic check like this or should it be specific caller specific checks .. Suggestions?

Mainly because for smaller arriba files, breakpoints get formatted as "date"! if only run as read_tsv() without specifying to read that as character col_type.

[code]

[2020-09-02 16:49] federicomarini commented on #14
Oh I see.
What if you read with non-`readr` functions? Say, the good ol' `read.delim`? I like a lot `readr`, but sometimes it makes wild guesses in terms of column types...

But yes: nothing speaks against adding extra checks to make our calls more robust.
If we want to take this "to the next level"... we could even check the input to the standardizer functions, according to the software of proven

[2020-09-02 17:22] kgaonkar6 commented on #14
read.delim has different issue with arriba :P
it changes the special characters in arriba to "."

#gene1                       gene2        strand1(gene/fusion)        strand2(gene/fusion)
X.gene1                       gene2        strand1.gene.fusion.        strand2.gene.fusion.

let me see if I can add per fusion caller checks and hopefully they don't change the format ever again :D

[2020-09-02 19:34] federicomarini commented on #14
ah, I see - it is because they deprecate spaces in the column names.
Can that work if you specify `check.names=FALSE` in the call?

my 2 cents will be that it will happen one day, but as long as it is properly documented, we can accommodate that as well

[2020-09-03 17:53] jharenza opened #53 "add info on shiny server about file input requirements"
This can go in the About section

[2020-09-03 19:37] jharenza commented on #14
I was just going to comment - second to `check.names=FALSE`

[2020-09-03 21:16] federicomarini commented on #53
Addressing this in https://github.com/d3b-center/annoFuse/tree/extrahelp

[2020-09-04 00:21] jharenza opened #54 "update intergenic logic"
Seeing instances of `intergenic` gene fusions being called `intragenic` in V16:

[code]

Comparing the `intergenic` annotations to these, it seems that these are being called `intragenic` due to the fact that Gene1A and Gene1B are identical.

If all intergenic fusions will always have a `/`, then I suggest simple logic built around that.

[2020-09-04 01:11] kgaonkar6 commented on #54
oh yeah I'm doing these cases, I'll update that to make the above intergenic fusions
https://github.com/d3b-center/annoFuse/blob/593d031f667fd803cbc1e7bd93f12da548e00990/R/fusion_standardization.R#L123-L126
      BreakpointLocation = case_when(
        Gene1A==Gene1B ~ "Intragenic",
        grepl("/",FusionName) ~ "Intergenic",
        TRUE ~ "Genic"),

[2020-09-04 15:02] kgaonkar6 commented on #14
I think read.delim(check.names=FALSE) will work as well if users want to use that specifically.

Looking at other packages (chimeraviz) they have specific col_types as a function call for the specific caller so I've implemented that in the recent PR. The issue with that I believe is that if the caller's change the column names then that needs to be updated specifically for the annoFuse_single_samp

[2020-09-04 15:06] federicomarini commented on #14
Probably it is worth mentioning in the documentation of each function the version number it is supposed to work with.
Or version numbers, or ranges of (e.g. >= version x.y.z).

[2020-09-04 15:16] kgaonkar6 commented on #14
Good idea! I've added the specific version's we've used
STAR-Fusion 1.5.0
Arrib v1.1.0

I can check if STAR-Fusion format has been the same for some versions for the range

[2020-09-04 20:15] jharenza commented on #53
added with #55

[2020-09-04 20:15] #53 closed

[2020-09-04 20:19] jharenza opened #58 "filtering on shiny server"
Not sure how to fix this aside from a dropdown, but for instance in the new `BreakpointLocation` column, when searching for `Genic`, all 3 values: `Genic`, `Intergenic`, and `Intragenic` come up in the FusionExplorer, due to the match of `genic` in each term. Thoughts, @federicomarini ?

[2020-09-04 20:52] federicomarini commented on #58
The dropdown select input does nothing but picking the levels for showing.
Then, my match is on the *exact* value match, and not grepping for 'genic'.
So this should be safe, I guess.

[2020-09-09 20:55] kgaonkar6 commented on #17
can we close this since the list seems to be complete?

[2020-09-09 21:03] federicomarini commented on #17
With much pleasure!

[2020-09-09 21:03] #17 closed

[2020-09-09 21:04] federicomarini commented on #58
Is there any update on the side of this one @jharenza?

[2020-09-09 23:38] jharenza commented on #54
closed with #56

[2020-09-09 23:38] #54 closed

[2020-09-10 14:33] kgaonkar6 commented on #7
fixed now in #59

[2020-09-10 14:33] #7 closed

[2020-09-11 15:14] kgaonkar6 commented on #14
it seems STAR-Fusion has the same format from >=1.50 ( their repo only has wiki pages from v1.6.0 supporting the format)

[2020-09-14 19:27] jharenza commented on #58
@federicomarini This still doesn't work as I think it should on the demo data - "Genic" does not filter (since Genic is in all 3 of: genic, intergenic, intragenic), but "Intra" filters to 651 rows and "Inter" filters to 991 rows.

[2020-09-14 19:43] kgaonkar6 opened #60 "spanningDelta cutoff 100 for demo file"
@kgaonkar6
- update the demo file used in shiny_app to have cutoff of 100 (@federicomarini if I keep the file name the same in extdata it won't require any changes from your side right? )
- update default cutoff 100 in filter_fusion_QC function
- update plots with spanningdelta 100 cutoff for main figure

[2020-09-14 19:50] federicomarini commented on #60
It should be all good if it stays the same and only the content changes 😉

[2020-09-14 20:44] jharenza commented on #58
fixed in [a3f9dbb](https://github.com/d3b-center/annoFuse/pull/36/commits/a3f9dbbd7b187485f87caf27f98c6b7315b710b2)

[2020-09-14 20:44] #58 closed

[2020-09-14 20:44] jharenza commented on #14
closed with #56

[2020-09-14 20:44] #14 closed

[2020-09-14 20:45] jharenza opened #61 "update instructions for filtering of numeric columns"
Sliding scales currently, hard to select 1 number for filtering, but can be achieved by `10 … 10`

[2020-09-15 03:23] jharenza opened #62 "cleanup of gene reference lists"
- [ ] https://github.com/d3b-center/annoFuse/blob/master/inst/extdata/genelistreference.txt has rownames - remove
- [ ] https://github.com/d3b-center/annoFuse/blob/master/inst/extdata/fusionreference.txt has filenames but files not in repo; also has rownames -> add files? remove rownames
- [ ] add headers to files of gene/fusion files to add source info

[2020-09-15 10:22] federicomarini commented on #61
Can this be considered as done in `exemplary` with the edits finalized in https://github.com/d3b-center/annoFuse/commit/0c7a459c167800a195b696fe60210d17595b06b2?

[2020-09-15 13:20] kgaonkar6 commented on #62
These files form the reference files
[kinases](http://kinase.com/human/kinome/tables/Kincat_Hsap.08.02.xls)
[oncogenes](http://www.bushmanlab.org/assets/doc/allOnco_Feb2017.tsv)
[tumor suppressors](https://bioinfo.uth.edu/TSGene/Human_TSGs.txt?csrt=5027697123997809089)
curated transcription factors [@doi:10.1016/j.cell.2018.01.029]
[COSMIC genes](https://cancer.sanger.ac.uk/census)
[TCGA fusions](

[2020-09-15 13:30] kgaonkar6 opened #65 "tcga validation nb and files"
Add TCGA validation nb and files as vignette

[2020-09-15 17:13] federicomarini commented on #60
Looks like this can be closed I guess @kgaonkar6 ?

[2020-09-15 18:45] jharenza opened #66 "add kinase domain retention info to putative oncogenic file"
add `kinaseGeneDomainRetained` and rename `GeneLoc` -> `kinaseDomainGeneLoc`

[2020-09-15 19:05] jharenza commented on #60
yup closed with #63

[2020-09-15 19:05] #60 closed

[2020-09-15 23:44] jharenza opened #68 "update conjoin genes filter"
Remove this filter

[2020-09-15 23:45] jharenza commented on #62
Nope, I just added them to the markdown table in [this comment](https://github.com/d3b-center/annoFuse/pull/64#discussion_r489077859) - that should suffice

[2020-09-16 13:36] kgaonkar6 commented on #68
I'm adding checkboxes let me know if I missed anything

- [x] Figure 1
- [x] Figure2
- [x] Figure3
- [x] Figure4

- [x] S1
- [x] S2
- [x] S3
- [x] S4

- [x] Table 3
- [x] Table 4

- [x] Update sensitivity in draft in PPTC/TCGA if changed
- [x] Update TCGA notebook (maybe singleSample is ok as is as an example ? )

[2020-09-16 15:04] kgaonkar6 commented on #68
DDX58--TOPORS is the only ConjoinG fusion in TCGA that was captured, which is not found in final fusion calls in the publication.

No updates to PPTC/TCGA overlaps so no update to Table3 and Table4

[2020-09-16 16:13] jharenza commented on #61
yes! thanks

[2020-09-16 16:13] #61 closed

[2020-09-16 20:17] #65 closed

[2020-09-16 21:08] kgaonkar6 commented on #66
Since I'm adding the this as part of the annotate_fusion_calls() , should we keep them as generic columns `DomainRetained` , `GeneLoc` and then I can change the name to `kinaseGeneDomainRetained` and `kinaseDomainGeneLoc` specifically for demo file?

Or we only want to check for kinase domain so keep them hardcoded as `kinaseGeneDomainRetained` and `kinaseDomainGeneLoc` column names?

[2020-09-17 07:51] federicomarini commented on #66
As long as
- these are not hard coded in the functions of annoFuse
- they do not belong to the default columns to be found

... I have no problem with either approach

[2020-09-17 13:23] kgaonkar6 commented on #66
I actually think adding kinaseGeneDomainRetained and kinaseDomainGeneLoc was adding more rows to the fusion calls with status for each Gene1A and Gene1B creating a new row per Fusion (Gene1A--Gene1B).

So I've added "DomainRetainedInGene1A" ,"DomainRetainedInGene1B" which doesn't add rows .The domain retention code to fusion_driver() function since it seems to be more of a project specific criteri

[2020-09-17 22:52] kgaonkar6 commented on #68
completed

[2020-09-17 22:52] #68 closed

[2020-09-17 23:14] kgaonkar6 commented on #62
updated the files , ie. without rownames in yesterday's PR is in exemplary

[2020-09-17 23:14] #62 closed

[2020-09-18 00:51] jharenza commented on #66
close with #70

[2020-09-18 00:51] #66 closed

[2020-09-18 00:58] jharenza opened #72 "add authors to package"
Update description and vignette templates with package authors:

Authors@R: c(person("Krutika", "S.", "Gaonkar", role = c("aut", "cre"),
    email = "gaonkark@chop.email.edu",
    comment = c(ORCID = "0000-0003-0838-2405")),
    person("Federico", "Marini", role = "aut",
    email = "marinif@uni-mainz.de",
    comment = c(ORCID = "0000-0003-3252-7758")),
    person("Komal", "S.", "Rathi", role = "

[2020-09-18 08:10] federicomarini commented on #72
Thanks!
Back then it was indeed just some input, I wish more and more of fruitful collaborations pop up - take that, 2020!

[2020-09-18 15:33] jharenza commented on #72
closed with #73

[2020-09-29 00:47] jharenza opened #80 "add shinyFuse launch date"
In the About section, add `2020-09-18` as the release date!

<img width="738" alt="Screen Shot 2020-09-28 at 8 45 05 PM" src="https://user-images.githubusercontent.com/207034/94499890-d8aae780-01cb-11eb-865a-cbe5e3341f0b.png">

[2020-10-06 20:47] jharenza commented on #80
closed with #81

[2020-10-06 20:47] #80 closed

[2020-11-05 14:13] #30 closed

[2020-11-05 14:18] kgaonkar6 opened #83 "Bug: issue loading tidyr::one_of()"
#### Provide the command used or report the bug here

#### What version are you using?

#### Add error message here (if applicable)
@federicomarini @jharenza
It seems annoFuse imports tidyr::one_of() which was only added to tidyr1.02 or later but we have tidyr0.8.3 in openpbta docker so I was trying to update the version but without luck.

I think changing the @importFrom to dplyr::one_of() fixed

[2020-11-24 18:52] jharenza opened #84 "rename shinyFuse table download"
#### What data file(s) does this issue pertain to?
`shinyFuseshinyfuse.csv` download table from shinyFuse

#### What version are you using?

v0.90.0

#### Put your question or report your issue here.
Rename output tables to something more descriptive like `shinyFuseFusionTable.csv` (?)

[2020-12-17 16:36] mapostolides opened #85 "Bug: First function "fusion_standardization" not working for star_fusion input"
#### Provide the command used or report the bug here
# star_fusion example run
[code]

#### What version are you using?

Most recent version as of Dec 17 2020

#### Add error message here (if applicable)
See attached screenshot

#### Add Session info
Run `sessionInfo()` and post the output below
R version 4.0.2 (2020-06-22)
Platform: x86_64-apple-darwin19.5.0 (64-bit)
Running under: macOS Catalina

[2020-12-18 19:21] jharenza commented on #85
Hi @mapostolides! Thanks for filing an issue. Currently, we do not have hg19 implemented, but this is on our to-do list (#50), and since you are the second person to ask for this, we should prioritize adding this functionality.

What version of STAR-Fusion are you using and can you send the column names of that file?

Thanks!

[2020-12-18 20:21] kgaonkar6 commented on #85
Thanks for your interest in annoFuse! This helps us update the documentation and features available through annoFuse.

I see the error says column 'PROT_FUSION_TYPE' doesn't exist. We run STAR-Fusion with '--examine_coding_effect' option which adds a lot of additional columns, of which PROT_FUSION_TYPE provides the frame information we use in downstream filtering. More information here:
https://gi

[2021-01-06 15:20] kgaonkar6 commented on #85
Hello @mapostolides  were you able to work around this issue with your input ?
Please let us know, thanks!

[2021-01-06 15:42] kgaonkar6 opened #86 "Bug: annoFuse::annoFuse_single_sample with no filtered fusion calls errors out"
#### Provide the command used or report the bug here

#### What version are you using?

#### Add error message here (if applicable)
https://cavatica.sbgenomics.com/u/kfdrc-harmonization/sd-bhjxbdqk-ad-hoc-annofuse/tasks/a5fc74b3-da0e-4683-ad2d-4298f1469d8f/stats/
2021-01-06T12:41:57.101146919Z 4: In fusion_filtering_QC(standardFusioncalls = standardFusioncalls,  :
2021-01-06T12:41:57.101151409Z

[2021-03-10 00:14] federicomarini commented on #84
Might be somewhere in the many options of the DT library, I'll have a look in detail!

[2021-03-10 00:24] federicomarini commented on #84
Here's the link to a possible solution:

https://github.com/rstudio/DT/issues/409#issuecomment-357857657

It is implemented on a testing branch, but the pre-selection seems to not be respected (?)
See screenshot below:

<img width="599" alt="image" src="https://user-images.githubusercontent.com/7447478/110556570-1af33000-813f-11eb-985a-476031e7df85.png">

[2021-03-10 16:51] federicomarini commented on #84
Ok, even if I tested this in different ways, somehow the button as we use it dumbly replaces the initial value I provided (basically the one you proposed in the initial message).
No real clue why this is so - It is not hampering the functionality, just annoyingly not doing what we'd expect this to do...

[2021-03-10 19:10] jharenza commented on #84
definitely annoying 👎

[2021-04-18 22:22] jharenza opened #90 "Bug: missing ref files and shinyFuse demo file"
#### Provide the command used or report the bug here
Was searching for our demo data (putative oncogenic file we use for shinyfuse) and noticed it, along with the reference folder are missing.

#### What version are you using?

Current master

#### Add error message here (if applicable)
NA

#### Add Session info
Run `sessionInfo()` and post the output below
NA

[2021-04-19 09:38] federicomarini commented on #90
Hi Jo Lynne, in the current version on `master` is using already the structure with the separate data-centered repository, see https://github.com/d3b-center/annoFuse/blob/92cdd6975d6db84a692ad1bd631fa7db9834003d/DESCRIPTION#L24

You can find these files in the respective folder of https://github.com/federicomarini/annoFuseData

The reason behind this split is the size limitation we would incur int

[2021-04-19 09:38] federicomarini commented on #90
Side note: the repo's ownership can be transferred anytime to the `d3b-center` organisation on GitHub, if you prefer so!

[2021-04-19 10:51] jharenza commented on #90
Oh great- i like it. I think we need to update some readme links then as well because they point to the old structure.

[2021-04-19 17:49] federicomarini commented on #90
I'll look into that - I was sure I did replace all relevant occurrencies in the code part (otherwise R CMD check is a careful complainer!).

Shall I transfer the ownership already now @jharenza ? Once that is done, it makes sense to update the links just once 😉

[2021-04-19 18:02] jharenza commented on #90
sure, thanks!

[2021-04-19 18:06] federicomarini commented on #90
Looks like I need some extra permissions to create it over there:

<img width="717" alt="image" src="https://user-images.githubusercontent.com/7447478/115282518-9686ca80-a14a-11eb-97e3-0507cd24c36d.png">

Otherwise: I'll transfer this to you, and you transfer it to `d3b-center`? Sorry for the extra hassle.

[2021-04-19 20:16] jharenza commented on #90
you can transfer to me and I will transfer, thanks!

[2021-04-19 20:40] jharenza commented on #90
https://github.com/d3b-center/annoFuseData transferred!

[2021-04-20 14:59] kgaonkar6 opened #92 "Update feature: annoFuse summary plot in shiny"
### Purpose/implementation Section

#### Briefly descibe the feature
I was wondering if we should allow users to provide the grouping column for plot_summary() call here: https://github.com/d3b-center/annoFuse/blob/92cdd6975d6db84a692ad1bd631fa7db9834003d/R/shinyFuse.R#L799 currently it uses the default `groupby <- "Sample"` looks quite busy when we have a lot of samples.

Can we add `groupby=gby_

[2021-04-20 15:24] kgaonkar6 opened #93 "Feature request: customizable plot summary"
### Purpose/implementation Section

#### Briefly descibe the feature
Add options to customize plot_summary ?
This topic came up while we reviewed output from a different project, if the user wants to gather summary for specific columns only for example if we should get distribution of fusion type per a user provided input  ( maybe like subgroup) instead of fusion caller in the current top right co

[2021-04-21 17:14] federicomarini commented on #92
I was almost sure I either did this already, or maybe I simply *think* I should have done it - simply because, well, it is a meaningful feature to have.

I'll look into this later and see how far I can get, maybe it is relatively simple to have.

[2021-05-21 06:56] xiucz commented on #50
This may be a good choice.

[2022-01-25 22:55] jharenza opened #94 "Add pub to readme"
Add link to publication in readme

[2022-02-05 21:21] federicomarini commented on #94
Should be considered done in https://github.com/d3b-center/annoFuse/commit/ddd542d4c2798711a3b67017a3ee637e2b5cf61f - should I just PR & merge?

[2022-02-06 01:02] jharenza commented on #94
sure! thanks!

[2022-08-11 16:12] sickler-alex opened #96 "Bug: Files missing from inst/extdata on master"
#### Provide the command used or report the bug here

On the `v0.90.0` branch, there are files in the inst/extdata that aren't on the master branch. When installing using the command in the README, it defaults to the master branch and would not download those files. This is particularly an issue in [OpenTargets LGAT subtyping](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/an

[2022-08-11 17:25] jharenza commented on #94
completed in #95

[2022-08-11 17:25] #94 closed

[2022-08-11 17:27] jharenza commented on #90
closed with #91

[2022-08-11 17:27] #90 closed

[2022-08-11 17:28] jharenza commented on #96
@federicomarini could you possibly look into the way that the data is being downloaded with the new data repo - maybe we need to change some commands for this?

[2022-08-15 13:41] federicomarini commented on #96
I'll revisit this once back from the holiday, should be easy to update if needed!

[2022-11-10 17:42] komalsrathi commented on #96
@federicomarini any idea how I can access pfamDataBioMart.RDS? I am facing the same issue as @sickler-alex.

[2022-11-13 23:58] federicomarini commented on #96
Hi @komalsrathi , the file you look for is in the companion package, handling the data required, `annoFuseData`.
You can access it from here: https://github.com/d3b-center/annoFuseData/tree/master/inst/extdata

The ongoing dev efforts will simply depend on this package, and will make the retrieval pretty much seamless for the end user - only thing that will change is basically behind the curtains